body {
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.logo {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #3e7422;
    padding-bottom: 5px;
}

.form-section {
    box-sizing: border-box;
    width: 650px;
}

.form-section, .list-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 35px;
    margin: auto;
    margin-bottom: 20px;
}

.list-section {
    box-sizing: border-box;
    width: 650px; 
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #3e7422;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3e7422;
}

#listaMezzi {
    list-style-type: none;
    padding: 0;
}

#listaMezzi li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#listaMezzi li:last-child {
    border-bottom: none;
}

select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}

.pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.pop-up-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .form-section, .list-section {
        width: 90%;
        max-width: none;
        margin-bottom: 20px;
        font-size: small;
    }
}
